.centered {
    text-align: center;
    padding-top: 5%;
  }
  #hero-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .container {
    max-width: 1000px;
  }
  
  .txt-wraper {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    background: #3c4858 !important;
  }
  .txt-permission-denied {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    background: #EEF6FF !important;
  }
  
  .txt-wraper p {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  
  .txt-wraper button {
    padding: 12px 36px;
    background: #0080ff;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }
  
  .img-sec img {
    margin-top: 37px;
    margin-left: -150px;
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 990px) {
    .img-sec img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: -webkit-fill-available;
      margin-top: 30px;
    }
  }
  
  #card-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    margin-bottom: 50px;
  }
  
  @media (max-width: 990px) {
    .card {
      margin-top: 50px;
    }
  }
  .card-txt {
    margin-top: 40px;
  }
  .card-txt h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    color: #000000;
  }
  
  .card-txt p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
  
  .Youtube {
    position: absolute;
    top: 86px;
    left: 82px;
  }
  
  .Facebook {
    position: absolute;
    left: 54px;
    top: 6px;
  }
  
  .Twitter {
    position: absolute;
    top: 65px;
    right: 43px;
  }
  
  .WhatsApp {
    position: absolute;
    right: 68px;
    top: 12px;
  }
  
  .Ellipse {
    top: 81px;
    position: absolute;
    left: 42%;
    border: 2px solid #e0e0e0;
    padding: 15px;
    background: #ffffff;
    border-radius: 50px;
  }
  
  .mic {
    position: absolute;
    top: 116px;
    left: 22%;
  }
  
  .video {
    top: 116px;
    right: 24%;
    position: absolute;
  }
  